<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <title>登录首页</title>
</head>
<body>
    <nav class="ui inverted attached segment m-padded-tb-mini">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">ThisIsSirZ</h2>
                <a href="#" th:href="@{/admin/blogs}" class="m-item item m-mobile-hide"><i class="home icon"></i>博客</a>
                <a href="#" th:href="@{/admin/types}" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
                <a href="#" th:href="@{/admin/tags}" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
                <a href="#" th:href="@{/}" class="m-item item m-mobile-hide"><i class="desktop icon"></i>博客前台</a>
                <div class="right menu">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img class="ui avatar image" src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=3712213588,105996146&fm=26&gp=0.jpg">
                            thisissirz
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="/myblog/admin/logOut" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <!-- 二级导航 -->
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a herf="#" class="item">发布</a>
                <a herf="#" class="active item">列表</a>
            </div>
        </div>
    </div>

    <div class="m-container-small m-padded-tb-massive">
        <div class="ui error message m-padded-tb-massive" >
            <div class="ui contianer">
                <h2 class="center aligned">Hello</h2>
                <p class="center aligned">欢迎来到后台登录主页。</p>
                <br/>
                <div class="ui segment">
                    <img src="https://picsum.photos/id/104/800/600" th:src="@{/images/bg-1.png}" style="width:800px;height:600px;" class="ui rounded image" alt="用户:thisissirz" />
                </div>
            </div>
        </div>
    </div>



    <footer th:replace="_fragments :: footer"></footer>
</body>
</html>