<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">管理后台</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../static/images/jiangshi.png"  th:href="@{/images/jiangshi.png}" />
    <link rel="stylesheet" type="text/css"  href="../../static/dist/semantic.min.css" th:href=" @{/dist/semantic.min.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/me.css" th:href="@{/css/me.css}" >
    <link rel="stylesheet" type="text/css" href="../../static/lib/editormd/css/editormd.min.css" th:href="@{/lib/editormd/css/editormd.css}">
</head>
<body>
<!--导航-->
    <nav th:fragment="menu(n)" class="ui inverted attached segment m-padded-tb-mini">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">ThisIsSirZ</h2>
                <a href="#" th:href="@{/index}" class="m-item item m-mobile-hide" th:classappend="${n==1}?'active'"><i class="home icon"></i>首页</a>
                <a href="#" th:href="@{/types}" class="m-item item m-mobile-hide" th:classappend="${n==2}?'active'"><i class="idea icon"></i>分类</a>
                <a href="#" th:href="@{/tags}" class="m-item item m-mobile-hide" th:classappend="${n==3}?'active'"><i class="tags icon"></i>标签</a>
                <a href="#" th:href="@{/archives}" class="m-item item m-mobile-hide" th:classappend="${n==4}?'active'"><i class="copy icon"></i>归档</a>
                <a href="#" th:href="@{/about}" class="m-item item m-mobile-hide" th:classappend="${n==5}?'active'"><i class="info icon"></i>关于我</a>
                <a href="#" th:href="@{/admin/blogs}" class="m-item item m-mobile-hide" ><i class="server icon"></i>后台服务</a>
                <div class="right m-item item m-mobile-hide">
                    <form action="#" name="search" th:action="@{/search}" method="post">
                        <div class="ui icon inverted transparent input" target="_blank" th:value="${query}">
                            <input type="text" name="query" placeholder="Search..">
                            <i onclick="document.forms['search'].submit()" class="search link icon" ></i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>


    <!-- 底部 -->
    <footer th:fragment="footer" class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui container">
            <div class="ui stackable center aligned inverted divided padded grid">
                <div class="four wide column">
                    <div class="ui center aligned inverted link list">
                        <div class="item">
                            <img src="../../static/images/QR-code.png" th:src="@{/images/QR-code.png}" class=" ui rounded image" alt="" style="width: 120px "></img>
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                    <div class="inverted link list ">
                        <a href="#" th:href="@{/blogs}" class="item m-text-thin m-text-spaced m-opacity-mini">用户故事（User Story）</a><br/>
                        <a href="#" th:href="@{/archives}" class="item m-text-thin m-text-spaced m-opacity-mini">关于凑排版的清单</a><br/>
                        <a href="#" th:href="@{/about}" class="item m-text-thin m-text-spaced m-opacity-mini">失败要趁早</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                    <div class="inverted link list">
                        <a href="#" class="item m-text-thin m-text-spaced m-opacity-mini">Email:thisissirz@163.com</a><br/>
                        <a href="#" class="item m-text-thin m-text-spaced m-opacity-mini">QQ:1946771672</a><br/>
                        <a href="#" class="item m-text-thin m-text-spaced m-opacity-mini">Tel:10086111</a>
                    </div>
                </div>
                <div class="six wide column">
                    <h4 class="ui  inverted header m-text-thin m-text-spaced">Blog</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容,希望可以给来到这儿的人有所帮助...</p>
                </div>
            </div>
            <div class="ui inverted section divider">
                <div class="ui center aligned grid">
                    <div class="ui wide column">
                        <br/>
                        <p class="m-text-thin m-text-spaced m-opacity-mini"> Instance ◎ 2019 - 2020 Thisissirz Learn Project</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>