<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="_fragments :: head(~{::title})">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>关于我</title>
		<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css" >
		<link rel="stylesheet" type="text/css" href="/css/me.css" >
		
	</head>
	<body>
		
		<!-- 导航 -->
		<nav th:replace="_fragments :: menu(5)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
			<div class="ui container">
				<div class="ui inverted secondary stackable menu">
					<h2 class="ui teal header item">ThisIsSirZ</h2>
					<a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
					<a href="#" class=" m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
					<a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
					<a href="#" class="m-item item m-mobile-hide"><i class="copy icon"></i>归档</a>
					<a href="#" class="active m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
					<div class="right m-item item m-mobile-hide">
						<div class="ui icon inverted transparent input">
							<input type="text" placeholder="Search..">
							<i class="search link icon"></i>
						</div>
					</div>
				</div>
			</div>
			<a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
				<i class="sidebar icon"></i>
			</a>
		</nav>
		
		<!-- 中间内容 -->
		<div class="m-padded-tb-huge m-container">
			<div class="ui container">
				<div class="ui center aligned mobil reversed stackable grid">
					<div class="ui eleven wide column">
						<div class="ui segment">
							<img src="https://picsum.photos/id/1001/670/450" th:src="@{/images/bg-1.png}" style="width: 670px;height: 450px;" class="ui rounded image">
						</div>
					</div>
					<div class="five wide column">
						<div class="ui top attached segment">
							<div class="ui header left">关于我</div>
						</div>
						<div class="ui attached segment">
							<p class="m-text">描写穷大学生拉斯柯尔尼科夫受无政府主义思想毒害，认为自己是个超人，可以为所欲为。为生计所迫，他杀死放高利贷的老太婆阿廖娜和她的无辜妹妹丽扎韦塔，制造了一起震惊全俄的凶杀案。</p>
							<p class="m-text">作品着重刻画主人公犯罪后的心理变化，揭示俄国下层人民的苦难生活...</p>
						</div>
						<div class="ui attached segment">
							<div class="ui orange basic left pointing label m-margin-tb-tiny">原创</div>
							<div class="ui orange basic left pointing label m-margin-tb-tiny">写作</div>
							<div class="ui orange basic left pointing label m-margin-tb-tiny">思考</div>
							<div class="ui orange basic left pointing label m-margin-tb-tiny">运动</div>
						</div>
						<div class="ui attached segment">
							<div class="ui basic left pointing label m-margin-tb-tiny">java</div>
							<div class="ui basic left pointing label m-margin-tb-tiny">MySql</div>
							<div class="ui basic left pointing label m-margin-tb-tiny">C#</div>
							<div class="ui basic left pointing label m-margin-tb-tiny">redis</div>
							<div class="ui basic left pointing label m-margin-tb-tiny">linux</div>
							<div class="ui basic left pointing label m-margin-tb-tiny">html</div>
							<div class="ui basic left pointing label m-margin-tb-tiny">...</div>
						</div>
						<div class="ui bottom attached segment">
							<a th:href="@{https://github.com/}" class="ui circular icon button"><i class="github icon"></i> </a>
							<a class="ui wechat circular icon button"><i class="weixin icon"></i> </a>
							<a class="ui qq circular icon button" data-content="1946771672"><i class="qq icon"></i> </a>
						</div>
						<div class="ui wechat-QR flowing popup top left transition hidden">
							<img src="../static/images/QR-code.png" th:src="@{/images/QR-code.png}" class="ui rounded image" style="width:100px">
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
		<br/><br/><br/><br/>
		<!-- 底部 -->
		<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
			<div class="ui container">
				<div class="ui stackable center aligned inverted divided padded grid">
					<div class="four wide column">
						<div class="ui center aligned inverted link list">
							<div class="item">
								<img src="/images/QR-code.png" class=" ui rounded image" alt="" style="width: 120px "></img>
							</div>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
						<div class="inverted link list ">
							<a href="#" class="item m-text-thin m-text-spaced m-opacity-mini">用户故事（User Story）</a><br/>
							<a href="#" class="item m-text-thin m-text-spaced m-opacity-mini">关于凑排版的清单</a><br/>
							<a href="#" class="item m-text-thin m-text-spaced m-opacity-mini">失败要趁早</a>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4> 
						<div class="inverted link list">
							<a href="#" class="item m-text-thin m-text-spaced m-opacity-mini">Email:thisissirz@163.com</a><br/>
							<a href="#" class="item m-text-thin m-text-spaced m-opacity-mini">QQ:1946771672</a><br/>
							<a href="#" class="item m-text-thin m-text-spaced m-opacity-mini">Tel:13510086111</a>
						</div>
					</div>
					<div class="six wide column">
						<h4 class="ui  inverted header m-text-thin m-text-spaced">Blog</h4>
						<p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容,希望可以给来到这儿的人有所帮助...</p>
					</div>
				</div>
				<div class="ui inverted section divider">
					<div class="ui center aligned grid">
						<div class="ui wide column">
							<br/>
							<p class="m-text-thin m-text-spaced m-opacity-mini"> Instance ◎ 2019 - 2020 Thisissirz Learn Project</p>
						</div>
					</div>
				</div>
			</div>
			
		</footer>
		
		<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
		<script src="../static/dist/semantic.min.js" th:src="@{/dist/semantic.min.js}"></script>
		<script>
			$('.menu.toggle').click(function(){
				$('.m-item').toggleClass('m-mobile-hide');
			});
			
			
			$('.qq').popup();
			
			$('.wechat').popup({
				popup:$('.wechat-QR'),
				position:'bottom center'
			});
			
			/* $(function(){
				alert("js");
			}); */
		</script>
	</body>
</html>
